@model HospitalProjectMackenzie.Models.ViewModels.UpdateDepartment
@{
    ViewBag.Title = "Edit";
}

<h2>Update Department</h2>
<form action="/Department/Update/@Model.SelectedDepartment.DepartmentID" method="POST">
    <div style="display:none;">
        <input type="text" name="DepartmentID" value="@Model.SelectedDepartment.DepartmentID" />
    </div>
    <div>
        <label for="DepartmentName">Name:</label> <input type="text" name="DepartmentName" value="@Model.SelectedDepartment.DepartmentName" />
    </div>
    <div>
        <label for="SiteID">Site:</label>
        <select name="SiteID">
            @foreach (var Site in Model.Sites)
            {
                string selected = "";
                if (Site.SiteID == Model.SelectedDepartment.SiteID)
                {
                    selected = "selected";
                }
                <option value="@Site.SiteID" @selected>@Site.SiteName</option>
            }
        </select>
    </div>
    <div>
        <input type="submit" value="Update Department" />
    </div>
</form>

