@model HospitalProjectMackenzie.Models.DoctorDto
@{
    ViewBag.Title = "View";
}

<div>
    <a href="/Doctor/List">Go back to list</a>
    |
    <a href="/Doctor/Edit/@Model.DoctorID">Update</a>
    |
    <a style="color:#ab2020;" href="/Doctor/DeleteConfirm/@Model.DoctorID">Delete</a>
</div>

<h2>@Model.DoctorFirstName @Model.DoctorLastName</h2>
<div>Employee Number: @Model.DoctorEmployeeNumber</div>
<div>Department: <a href="/Department/Details/@Model.DepartmentID">@Model.DepartmentName</a></div>