@model HospitalProjectMackenzie.Models.ViewModels.DetailsPayment
@{
    ViewBag.Title = "Details";
}

<br />

<ul>
    <li><a href="/Payment/List">Go back to list</a></li>
    <li><a href="/Payment/Edit/@Model.SelectedPayment.PaymentID">Edit</a></li>
    <li><a href="/BPaymentill/DeleteConfirm/@Model.SelectedPayment.PaymentID">Delete</a></li>
</ul>

<h2>Details</h2>
<a href="/Bill/List">go back to list</a>

<div>Amount: $ @Model.SelectedPayment.PaymentAmount</div>

