@model HospitalProjectMackenzie.Models.ViewModels.UpdatePayment
@{
    ViewBag.Title = "Edit";
}

<h2>Update Paymnet</h2>
<form action="/Payment/Update/@Model.SelectedPayment.PaymentID." method="POST">
    <div style="display:none;">
        <input type="text" name="PaymentID" value="@Model.SelectedPayment.PaymentID" />
    </div>
    <div>
        <label>Amount:</label> <input type="text" name="PaymentAmount" value="@Model.SelectedPayment.PaymentAmount" />
    </div>
    <div>
        <label>Payment ID:</label>

        <select name="BillID">
            @foreach (var bill in Model.BillID)
            {
                string selected = "";
                if (bill.BillID == Model.SelectedPayment.BillID)
                {
                    selected = "selected";
                }
                <option value="@bill.BillID" @selected>@bill.BillAmount</option>

            }
        </select>
    </div>
    <div>
        <input type="submit" value="Update Bill" />

    </div>
</form>

