@model HospitalProjectMackenzie.Models.ViewModels.UpdatePayment
@{
    ViewBag.Title = "Edit";
}

<h2>Update Paymnet</h2>
<form action="/Payment/Update/@Model.SelectedPayment.PaymentID" method="POST">
    <div style="display:none;">
        <input type="text" name="PaymentID" value="@Model.SelectedPayment.PaymentID" />
    </div>
    <div>
        <label for="PaymentAmount">Amount:</label> <input type="text" name="PaymentAmount" value="@Model.SelectedPayment.PaymentAmount" />
    </div>
    <div>
        <label for="BillID">Bill ID:</label>
        <select name="BillID">
            @foreach (var bill in Model.Bills)
            {
                string selected = "";
                if (bill.BillID == Model.SelectedPayment.BillID)
                {
                    selected = "selected";
                }
                <option value="@bill.BillID" @selected>@bill.BillAmount-@bill.AppointmentName</option>

            }
        </select>
    </div>
    <div>
        <input type="submit" value="Update Bill" />

    </div>
</form>