@model HospitalProjectMackenzie.Models.ViewModels.DetailsAppointment

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<br />

<ul>
    <li><a href="/Appointment/List">Go back to list</a></li>
    <li><a href="/Appointment/Edit/@Model.SelectedAppointment.AppointmentID">Edit</a></li>
    <li><a href="/Appointment/DeleteConfirm/@Model.SelectedAppointment.AppointmentID">Delete</a></li>
</ul>

<div>Appointment Name: @Model.SelectedAppointment.AppointmentName</div>
<div>
    <div>Bill for @Model.SelectedAppointment.AppointmentName</div>
    @foreach (var bill in Model.BillsForPatient)
    {
        <a href="/Bill/Details/@bill.BillID">@bill.BillAmount</a><br />
    }
</div>