@model HospitalProjectMackenzie.Models.PatientDto
@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>
<a href="/Patient/List">Go back to list</a>
<div>Address: @Model.PatientAddress</div>
<div>Address: @Model.PatientDateOfBirth</div>
<div>Cell Phone: @Model.PatientCellPhone</div>

