@model HospitalProjectMackenzie.Models.ViewModels.DetailsBill
@{
    ViewBag.Title = "Details";
}

<br />

<ul>
    <li><a href="/Bill/List">Go back to list</a></li>
    <li><a href="/Bill/Edit/@Model.SelectedBill.BillID">Edit</a></li>
    <li><a href="/Bill/DeleteConfirm/@Model.SelectedBill.BillID">Delete</a></li>
</ul>

<h2>Details</h2>
<a href="/Bill/List">go back to list</a>

<div>Amount: $ @Model.SelectedBill.BillAmount</div>

