@model HospitalProjectMackenzie.Models.ViewModels.UpdateBill
@{
    ViewBag.Title = "Edit";
}

<h2>Update Bill</h2>
<form action="/Bill/Update/@Model.SelectedBill.BillID" method="POST">
    <div style="display:none;">
        <input type="text" name="BillID" value="@Model.SelectedBill.BillID" />
    </div>
    <div>
        <label>Amount:</label> <input type="text" name="BillAmount" value="@Model.SelectedBill.BillAmount" />
    </div>
    <div>
        <label>Appointment ID:</label>

        <select name="AppointmentID">
            @foreach (var appointment in Model.AppointmentID)
            {
                string selected = "";
                if (appointment.AppointmentID == Model.SelectedBill.AppointmentID)
                {
                    selected = "selected";
                }
                <option value="@appointment.AppointmentID" @selected>@appointment.AppointmentID</option>

            }
        </select>
    </div>
    <div>
        <input type="submit" value="Update Bill" />

    </div>
</form>