@model IEnumerable<HospitalProjectMackenzie.Models.BillDto>
@{
    ViewBag.Title = "List";
}

<h2>List</h2>
<a href="/Bill/New">New Bill</a>
@foreach (var bill in Model)
{
    <h2><a href="/Bill/Details/@bill.BillID">@bill.BillID</a></h2>
    <div>Amount: $ @bill.BillAmount</div>

}
