@model IEnumerable<HospitalProjectMackenzie.Models.AppointmentDto>

@{
    ViewBag.Title = "Create";
}

<h2>Create a New Bill</h2>
<form action="/Bill/Create" method="POST">
    <div>
        <label>Amount:</label> <input type="text" name="BillAmount" />
    </div>
    <div>
        <label>Appointment:</label>
        <select name="AppointmentID">
            @foreach (var appointment in Model)
            {
                <option value="@appointment.AppointmentID">@appointment.AppointmentID</option>

            }
        </select>
    </div>
    <div>
        <input type="submit" value="Add Bill" />

    </div>
</form>
