@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Mackenzie Health</h1>
    <p class="lead">Mackenzie Health is a dynamic regional health care provider.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>More about Mackenzie</h2>
        <a href="/Site/List">Site</a>
        |
        <a href="/Amenity/List">Amenity</a>
        |
        <a href="/Department/List">Department</a>
        |
        <a href="/Room/List">Room</a>
    </div>
    <div class="col-md-4">
        <h2>People</h2>
        <a href="/Doctor/List">Doctor</a>
        |
        <a href="/Volunteer/List">Volunteer</a>
    </div>
    <div class="col-md-4">
        <h2>For Appointments</h2>
        <a href="/Appointment/List">Appointment</a>
        |
        <a href="/Patient/List">Patient</a>
        |
        <a href="/Bill/List">Bill</a>
        |
        <a href="/Payment/List">Payment</a>
    </div>
</div>