@model HospitalProjectMackenzie.Models.RoomDto
@{
    ViewBag.Title = "DeleteConfirm";
}
<h2>Are you sure you want to delete this Room?</h2>
<a href="/Room/List">Cancel</a>
<h2>@Model.RoomName</h2>
<form action="/Room/Delete/@Model.RoomID" method="POST">
    <input type="submit" value="Confirm Delete" />
</form>
