@model IEnumerable<HospitalProjectMackenzie.Models.SiteDto>
@{
    ViewBag.Title = "Create";
}

<br />

<ul>
    <li><a href="/Amenity/List">Go back to list</a></li>
</ul>

<h2>Create</h2>

<form action="/Amenity/Create" method="POST">
    <div>
        <label>Amenity Name:</label> <input type="text" name="AmenityName" />
    </div>
    <div>
        <label>Description:</label> <textarea name="AmenityDescription"></textarea>
    </div>
    <div>
        <label>AmenityType:</label> <input type="text" name="AmenityType" />
    </div>
    <div>
        <label>AmenityLocation:</label> <input type="text" name="AmenityLocation" />
    </div>
    <div>
        <label for="SiteID">Site:</label>
        <select name="SiteID">
            @foreach (var site in Model)
            {
                <option value="@site.SiteID">@site.SiteName</option>
            }
        </select>
    </div>
    <div>
        <input type="submit" value="Add Site" />
    </div>
</form>