@model IEnumerable<HospitalProjectMackenzie.Models.SiteDto>
@{
    ViewBag.Title = "List";
}

<h2>List</h2>
<a href="/Site/New">New Site</a>
@foreach (var site in Model)
{
    <h2><a href="/Site/Details/@site.SiteID">@site.SiteName</a></h2>


}